
body {
    font-family: 'Poppins', sans-serif;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(41,167,188,0.8744747899159664) 35%, rgba(0,212,255,1) 100%);
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    text-align: center;
}

 .container { 
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    width: 100%
    max-width: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    color: white;
    
}

input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
}

button {
    background: rgb(230, 126, 0);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 55px;
    cursor: pointer;
    font-size: 16px;
    
}
 
button:hover{
    color: aqua;
}

.current-weather img {
    width: 100px;
}

#forecast {
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    gap: 10px;
    padding: 10px 0;
}

.forecast-item {
    background: rgba(255, 255, 255, 0.3);
    padding: 10px;
    border-radius: 10px;
    min-width: 70px;
    text-align: center;
}

.forecast-item img {
    width: 50px;
    
}
..weather-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.detail-item {
    background: rgba(255, 255, 255, 0.3);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    font-weight: bold;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100px;
}

.detail-item i {
    font-size: 40px;
    margin-bottom: 10px;
}
@media (max-width: 600px) {
    .container {
        width: 95%;
        max-width: 350px;
    }

    .weather-details {
        grid-template-columns: 1fr; /* Stack in one column */
    }

    .forecast-item {
        min-width: 80px;
    }
}
/* Weather Heading Styling */
.weather-forecast {
    font-size: 36px; /* Large size */
    
    color: white;
    text-transform: 
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 20px;
    width: 100%; /* Ensures full width */
    position: relative;
    z-index: 10;
    
        margin-bottom: 5px;
}

/* Make it responsive */
@media (max-width: 768px) {
    .weather-forecast { {
        font-size: 28px; /* Adjust for tablets */
    }
}

@media (max-width: 480px) {
    
        font-size: 22px; /* Adjust for mobile */
    }
}



